* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Chewy", system-ui;
  font-size: 1.1rem;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #cbf7f6;
}

.header {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00bbb2;
  padding: 30px 5%;
}

.footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footerListItem {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.footerListItem:hover {
  transform: scale(1.5);
  background-color: #bf362c;
}

.footerSocial {
  font-size: 1.6em;
  transition: transform 0.3s ease-in-out;
}

#instagram {
  margin: 0 20px;
}
#instagram:hover {
  transform: scaleX(-1) scale(2);
  color: #cbf7f6;
}

#facebook {
  margin: 0 20px;
}

#facebook:hover {
  transform: scaleX(-1) scale(2);
  color: #bf362c;
}

#twitter {
  margin: 0 20px;
}

#twitter:hover {
  transform: scaleY(-1) scale(2);
  color: #ffc78e;
}

.navbar {
  background-color: #00bbb2;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.navbarList {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navListItem {
  display: inline-block;
  font-size: 1.1em;
  margin: 20px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.navListItem:hover {
  transform: scale(1.5);
  background-color: #bf362c;
}

#navLogo {
  margin-right: auto;
  margin-left: 3%;
  padding: 0;
}

a {
  text-decoration: none;
  transition: transform 0.3s;
  color: black;
  width: 80px;
  margin: 0 20px;
  text-align: center;
  display: block;
  float: left;
}

#navLogo {
  margin-right: auto;
  display: inline-block;
  align-self: auto;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 3.6em;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
}

p {
  text-align: justify;
  line-height: 1.7;
  padding: 10px 20%;
  margin: 5px 30px;
}

img {
  border-radius: 10px;
  margin: auto;
  display: block;
}

button {
  background-color: #ffc78e;

  font-size: 0.8em;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  font-weight: bold;
  background-color: #bf362c;
}

.animalsLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 4vw 10vw;
}

.animalCard {
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 430px;
  padding: 15px;
  margin-bottom: 10px;
  border: 5px solid;
  border-radius: 10px;
}

.animalPic:hover {
  transform: scale(1.1);
}

.formContainer {
  background-color: #ffc78e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 45%;
  margin: 30px auto;
}

label {
  display: block;
  width: 200px;
}

input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
}

input::placeholder {
  color: #999;
  font-style: italic;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
  resize: none;
}

textarea::placeholder {
  color: #999;
  font-style: italic;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.careersList {
  display: inline-block;
  list-style-type: square;
  margin: auto 25%;
}

.volunteerList {
  display: inline-block;
  list-style-type: square;
  margin: auto 25%;
}

.careersListItem {
  line-height: 1.5;
  font-size: 0.9em;
  font-weight: lighter;
  margin: 10px;
  padding: 5px 10px;
}

.volunteerListItem {
  line-height: 1.5;
  font-weight: lighter;
  font-size: 0.9em;
  margin: 10px;
  padding: 5px 10px;
}

@media screen and (max-width: 850px) {
  .layout {
    width: 92vw;
    margin: 4vw;
  }
  main {
    flex-direction: column;
  }
  h4 {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  h2,
  h4 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}
