.header {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
}

.headerTitle {
  font-size: 5em;
  text-align: center;
}